@media (min-width:0px) and (max-width:300px){
    ul{
        display: none;
    }

    .header_list{
        justify-content: space-between;
        border: none;
    }
    span{
        display: block;
    }

    .content_container{
        flex-direction: column;
        width: 100%;
         
   }

   .content_imgages{
    width: 100%;
   }

   .content_imgages img{
     width: 100%;
   }
}


/* @media (min-width:800px) and (max-width:1200px){
    ul{
        display: none;
    }

    .header_list{
        justify-content: space-between;
        border: none;
    }
    span{
        display: block;
    }

    .content_container{
         flex-direction: column;
         width: 100%;
         padding: none;
    }

    .content_imgages img{
      width: 100%;
    }
} */